@model List<TasteFoodIt.Entities.Contact>
@{
    ViewBag.Title = "MessageList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Mesaj Listesi</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Ana Sayfa</a></li>
            <li class="breadcrumb-item">İletişim</li>
            <li class="breadcrumb-item active" aria-current="page">İletişim İşlemleri</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">
                <div class="table-responsive">
                    <table id="tbl1" class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>Id</th>
                                <th>İsim Soyisim</th>
                                <th>Email</th>
                                <th>Konu</th>
                                <th>Tarih</th>
                                <th>Durum</th>
                                <th>Sil</th>
                                <th>Mesaj</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                string state = "";
                                string value = "";

                                if (item.IsRead == true)
                                {
                                    state = "bg-dark";
                                    value = "Okundu";
                                }
                                else
                                {
                                    state = "bg-warning";
                                    value = "Okunmadı";
                                }

                                <tr>
                                    <td>@item.ContactId</td>
                                    <td>@item.NameSurname</td>
                                    <td>@item.Email</td>
                                    <td>@item.Subject</td>
                                    <td>@(((DateTime)item.SendDate).ToString("d"))</td>
                                    <td><span class="badge @state" style="color:lemonchiffon;font-size:initial">@value</span></td>
                                    <td>@Html.ActionLink("Sil", "DeleteMessage", new { id = item.ContactId }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstediğinizden Emin Misiniz?')" })</td>
                                    <td><a href="/Contact/MessageDetail/@item.ContactId" class="btn btn-warning">Mesajı Aç</a></td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>