@model List<TasteFoodIt.Entities.SocialMedia>
<div class="wrap">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md d-flex align-items-center">
                <p class="mb-0 phone"><span class="mailus">Telefon:</span> <a href="#">@ViewBag.phone</a> veya <span class="mailus">Email:</span> <a href="#">@ViewBag.email</a></p>
            </div>
            <div class="col-12 col-md d-flex justify-content-md-end">
                <p class="mb-0">@ViewBag.description</p>
                <div class="social-media">
                    <p class="mb-0 d-flex">
                        @foreach (var item in Model)
                        {
                            <a href="@item.RedirectUrl" target="_blank" class="d-flex align-items-center justify-content-center"><span class="@item.IconUrl"><i class="sr-only">@item.PlatformName</i></span></a>
                        }

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>