@model List<TasteFoodIt.Entities.Product>

<div class="col-md-6 col-lg-4">
    <div class="menu-wrap">
        @{
            string currentCategoryName = null;
        }

        @foreach (var item in Model)
        {
            if (currentCategoryName != item.Category.CategoryName)
            {
                <div class="heading-menu text-center ftco-animate">
                    <h3>@item.Category.CategoryName</h3>
                </div>
                currentCategoryName = item.Category.CategoryName;
            }
            <div class="menus d-flex ftco-animate">
                <div class="menu-img img" style="background-image: url(@item.ImageUrl);"></div>
                <div class="text">
                    <div class="d-flex">
                        <div class="one-half">
                            <h3>@item.ProductName</h3>
                        </div>
                        <div class="one-forth">
                            <span class="price">@item.Price ₺</span>
                        </div>
                    </div>
                    <p><span>@item.Description</span></p>
                </div>
            </div>
            <span class="@item.Category.IconUrl" style="left: 0;"></span>
        }

    </div>
</div>
